<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://70.39.76.226:3306/xiaoshuo</property>
        <property name="hibernate.connection.username">ka3388</property>
        <property name="connection.password">ka3388ka3388</property>
        <property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">GB2312</property>
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>
        <property name="connection.autoReconnect">true</property>
        <property name="connection.autoReconnectForPools">true</property>
        <property name="connection.is-connection-validation-required">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>  
        <mapping class="ch.po.Student"/>
        <mapping class="ch.po.Novel"/>
        <mapping class="ch.po.NovelPage"/>
        <mapping class="ch.po.Movie"/>
        <mapping class="ch.po.PostTitle"/>
    </session-factory>
</hibernate-configuration>